@use '../../styles/_variables' as *;

.completedTask {
  background: $bg-gray;
  padding: 16px;
  border-radius: $border-radius;
}
.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: $text-dark;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 30vh;
  overflow-y: auto;
}
