.mobileDrawer {
  .ant-drawer-content {
    background: #fff;
  }
  .ant-menu-item {
    font-size: 16px;
    padding: 12px 24px;
    .anticon {
      font-size: 20px;
    }
  }
  .ant-avatar {
    margin-bottom: 8px;
  }
}
